body {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
}

.top, .content, .footer {
    margin: 2rem 4rem;
}

.logo, .nav, .header, .side_bar, .body_area, .footer {
    background-color: lightgray;
    font-size: 20px;
    padding: 2rem;
    font-weight: bold;
}

.logo {
    font-size: 24px;
}

.top {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.nav {
    text-align: center;
    padding: 3px 0px;
}

.header {
    text-align: center;
    padding: 4rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    min-height: 400px;
}

.side_bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body_area {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
}